@model LineProposal
<tr>
    @Html.HiddenFor(model => model.IdLineProposal)
    <td>
        @Html.DisplayFor(model => model.Description)
    </td>
    <td>
        @Html.DisplayFor(model=> model.Price)
    </td>
</tr>

